.stApp > header {
    display: none;
    /* background-color: transparent; */
}

.stApp {
    /* margin-top: -5%; */
    top: 0;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    overflow: auto;
    padding: 0;
    background: linear-gradient(315deg, #4f2991 3%, #7dc4ff 38%, #36cfcc 68%, #5f2ed3 98%);
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
}

.st-emotion-cache-0.e1f1d6gn0 {
    position: sticky;
    top:5%;
    z-index: 1000;
    border-radius: 1em;
}

.st-emotion-cache-ocqkz7.e1f1d6gn5 {
    z-index: -1;
    background-color: linear-gradient(315deg, aqua 95%);
    background-attachment: fixed;
    border-radius: 1em;
}