.stApp > header {
    /* display: none; */
    background-color: transparent;
    pointer-events: painted;
    z-index: 1;
}

.stApp {
    margin-top: -7.3%;
    /* top: 0; */
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    overflow: auto;
    padding: 0;
    background: linear-gradient(315deg, #482585 3%, #7dc4ff 38%, #36cfcc 68%, #5f2ed3 98%);
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
}

.st-emotion-cache-0.e1f1d6gn0 {
    position: sticky;
    top:7.0%;
    z-index: 1000;
    border-radius: 1em;
    pointer-events:painted;
}


.st-emotion-cache-ocqkz7.e1f1d6gn5 {
    z-index: 1;
    background-color: transparent;
    background-attachment: fixed;
    border-radius: 1em;
    position: relative;
}

.st-emotion-cache-1l269bu.e1f1d6gn3 {
    z-index: 1;
}
.row-widget.stRadio {
    background-color: transparent;
    padding: 5px;
}

.st-ae.st-af.st-ag.st-ah.st-ai.st-aj.st-ak>.st-al.st-ae.st-am.st-ai.st-an.st-ao.st-ap.st-aq.st-ar.st-as.st-at.st-au.st-av.st-aw {
    background-color: #5f2ed3;
    margin: left;
    width: 100%;
    padding: 2px;
    /* border-style: solid;
    border-color: rgb(36, 36, 219); */
    position: relative;
    /* border-radius: 1em; */
}

.st-ae.st-af.st-ag.st-ah.st-ai.st-aj.st-ak>.st-al.st-ae.st-am.st-ai.st-an.st-ao.st-ap.st-aq.st-ar.st-as.st-at.st-au.st-av.st-aw:hover {
    background-color: #482585;
    margin:left;
    width: 100%;
    padding: 2px;
}
/* ---------------------------------------------------------------------- */
.st-b4.st-bb.st-bc.st-bd.st-be.st-bf.st-bg>.st-bh.st-b4.st-bi.st-be.st-as.st-bj.st-at.st-bk.st-bl.st-bm.st-bn.st-bo.st-bp.st-bq {
    background-color: #5f2ed3;
    margin: left;
    width: 100%;
    padding: 2px;
    /* border-style: solid;
    border-color: rgb(36, 36, 219); */
    position: relative;
    /* border-radius: 1em; */
}

.st-b4.st-bb.st-bc.st-bd.st-be.st-bf.st-bg>.st-bh.st-b4.st-bi.st-be.st-as.st-bj.st-at.st-bk.st-bl.st-bm.st-bn.st-bo.st-bp.st-bq:hover {
    background-color: #482585;
    margin:left;
    width: 100%;
    padding: 2px;
}
/* ---------------------------------------------------------------------- */
.st-emotion-cache-1ijpa8z.e1nzilvr5 > p {
    padding: 1em;
    /* box-shadow:inset 2px 2px 4px #78787866, inset -3px -3px 3px #ffffff66; */
    box-shadow:inset 4px 4px 8px #78787866, inset -6px -6px 6px #ffffff66;
    text-align: justify;
}

/* div.st-emotion-cache-1wmy9hl.e1f1d6gn1 > div[data-testid="stVerticalBlock"].st-emotion-cache-1vmynj.e1f1d6gn2 {
    background-color: blue;
} */

.st-emotion-cache-zt5igj.e1nzilvr4 > span.st-emotion-cache-10trblm.e1nzilvr1 {
    background: linear-gradient(315deg, #482585 3%, #7dc4ff 38%, #36cfcc 68%, #5f2ed3 98%);
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    text-align: center;
    padding: 0.2em;
    border-radius: 1em;
}

code {
    color: black;
    background-color: #FFFDD0;
    font-style:italic;
    font-weight:bold
}

pre.st-emotion-cache-12pd2es.e1ycw9pz3 {
    background-color: #FFFDD0;
    color: black;
}
::-webkit-scrollbar {
    background-color: gray;
}
::-webkit-scrollbar:hover {
    background-color: black;
}

.pretty-json-container.object-container {
    background-color: #4F8CC9;
}

span.string-value {
    color: black;
    font-style:italic;
    font-weight:bold
}

button.st-emotion-cache-1g06wcx.e1ycw9pz0 {
    background-color: #383838;
}

svg.main-svg {
    background: transparent;
    box-shadow:inset 2px 2px 4px #78787866, inset -3px -3px 3px #ffffff66;
}
div.stPlotlyChart.js-plotly-plot {
    width: 100%;
}

div.plot-container.plotly > div.user-select-none.svg-container {
    width: 100%;
}

/* label.st-emotion-cache-1qg05tj.e1y5xkzn3 > div.st-emotion-cache-10uslyt.e1nzilvr5 {
    text-align: center;
    margin: 5px;
} */
table {
    width: 100%;
}

div.element-container.st-emotion-cache-uzna7h.e1f1d6gn4 > .stMarkdown > .st-emotion-cache-1ijpa8z.e1nzilvr5 > table > thead > tr > th {
    /* display: inline-flexbox; */
    text-align: center;
    text-align-last: center;
    -ms-text-align-last: center;
    -moz-text-align-last: center;
    font-weight: bold;
}

div.st-emotion-cache-n7d69t.e1q9reml4 > table.st-emotion-cache-zuelfj.e1q9reml3 > thead > tr > th {
    text-align: center;
    text-align-last: center;
    -ms-text-align-last: center;
    -moz-text-align-last: center;
    font-weight: bold;
}

div.st-emotion-cache-n7d69t.e1q9reml4 > table.st-emotion-cache-zuelfj.e1q9reml3 > tbody > tr > td.st-emotion-cache-4sszyo.e1q9reml2 {
    text-align: right;
    text-align-last: right;
    -ms-text-align-last: right;
    -moz-text-align-last: right;
}

div.element-container.st-emotion-cache-6w6dvf.e1f1d6gn4 > .stMarkdown > .st-emotion-cache-1ijpa8z.e1nzilvr5 > table > thead > tr > th {
    /* display: inline-flexbox; */
    text-align: center;
    text-align-last: center;
    -ms-text-align-last: center;
    -moz-text-align-last: center;
    font-weight: bold;
}